<div class="row">
  <div class="col-md-10">
    <fieldset>
      <legend><%= t('titles.personal.site.engines') %></legend>
      <%= bootstrap_form_tag url: admin_engines_path, html: {id: 'engines'} do |f| %>
          <%= f.check_box :cms, checked: Setting.engine_cms_enable, label: t('cms.name') %>
          <%= f.check_box :email, checked: Setting.engine_email_enable, label: t('email.name') %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
  </div>
</div>

<script>
    $(function () {
        submit_form('engines');
    });
</script>