<div class="row">
  <div class="col-md-10">
    <fieldset>
      <legend><%= t('titles.personal.site.errors.e404') %></legend>
      <%= bootstrap_form_tag url: admin_errors_path, html: {id: 'e400'} do |f| %>
          <%= f.text_area :http_404, value: Setting.http_404, rows:12 %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
    <br/>
    <fieldset>
      <legend><%= t('titles.personal.site.errors.e422') %></legend>
      <%= bootstrap_form_tag url: admin_errors_path, html: {id: 'e422'} do |f| %>
          <%= f.text_area :http_422, value: Setting.http_422, rows:12 %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
    <br/>
    <fieldset>
      <legend><%= t('titles.personal.site.errors.e500') %></legend>
      <%= bootstrap_form_tag url: admin_errors_path, html: {id: 'e500'} do |f| %>
          <%= f.text_area :http_500, value: Setting.http_500, rows:12 %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
  </div>
</div>

<script>
    $(function () {
        submit_form('e400');
        submit_form('e422');
        submit_form('e500');
    });
</script>