<div class="row">
  <div class="col-md-10">
    <fieldset>
      <legend><%= t('titles.personal.site.favicon') %></legend>
      <%= bootstrap_form_tag url: admin_favicon_path, multipart: true do |f| %>
          <%= f.file_field :favicon %>
          <%= f.primary t('buttons.upload') %>
      <% end %>
    </fieldset>
    <br/>
    <fieldset>
      <legend><%= t('titles.personal.site.base') %></legend>
      <%= bootstrap_form_tag url: admin_info_path, html: {id: 'base'} do |f| %>
          <%= f.text_field :title, value: t('site.title') %>
          <%= f.text_field :keywords, value: t('site.keywords') %>
          <%= f.text_area :description, value: t('site.description') %>
          <%= f.text_field :copyright_html, value: "#{t('site.copyright_html')}" %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
    <br/>
    <fieldset>
      <legend><%= t('titles.about_us') %></legend>
      <%= bootstrap_form_tag url: admin_info_path, html: {id: 'about_us'} do |f| %>
          <%= f.text_area :about_us, value: t('site.about_us'), rows: 12 %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
    <br/>
    <fieldset>
      <legend><%= t('titles.help') %></legend>
      <%= bootstrap_form_tag url: admin_info_path, html: {id: 'help'} do |f| %>
          <%= f.text_area :help, value: t('site.help'), rows: 12 %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
  </div>
</div>

<script>
    $(function () {
        submit_form('base');
        submit_form('about_us');
        submit_form('help');
    });
</script>