<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to site_info(:sub_title), root_path, {class: 'navbar-brand'} %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
        <li><%= link_to t('home.index'), home_path %></li>

        <li><%= link_to t('home.help'), home_help_path %></li>
        <li><%= link_to t('home.faq'), home_faq_path %></li>
        <li><%= link_to t('home.about'), home_about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= t 'home.welcome', name: current_user.email %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t('devise.registrations.edit.title', resource: User.model_name.human), edit_user_registration_path %>
                </li>
                <% if current_user.is_admin? %>
                <li><%= link_to t('home.dashboard'),leave_words_path%></li>
                <% end %>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to t('home.sign_out'), destroy_user_session_path, method: :delete, data: {confirm: t('home.are_you_sure')} %>
                </li>

              </ul>
            </li>
        <% else %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= t 'home.sign_in_or_up' %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('devise.shared.links.sign_in'), new_user_session_path %></li>
                <li><%= link_to t('devise.shared.links.sign_up'), new_user_registration_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to t('devise.shared.links.forgot_your_password'), new_user_password_path %></li>
                <li><%= link_to t('devise.shared.links.didn_t_receive_unlock_instructions'), new_user_unlock_path %></li>
                <li><%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions'), new_user_confirmation_path %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>