<div id="role-form"></div>
<div class="pull-right">
  <button class="btn btn-success" onclick="load_by_url('role-form', '<%= new_role_path%>');"><%= t 'buttons.manage' %></button>
</div>
<br/>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.role.name' %></th>
    <th><%= t 'activerecord.attributes.role.users' %></th>
    <th width="20%"><%= t 'helpers.label.updated_at' %></th>
    <th width="10%"></th>
  </tr>
  </thead>
  <tbody>
  <% Role.where(resource_type: nil).order('id DESC').each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td>
          <ul>
            <% r.users.each do |u| %>
                <li><%= u.to_s %></li>
            <% end %>
          </ul>
        </td>
        <td><%= r.updated_at %></td>
        <td>
          <button onclick="on_remove_and_refresh('<%= role_path(r) %>', 'content', '<%= roles_path%>');" class="btn btn-danger">
            <%= t 'buttons.remove' %>
          </button>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

