<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a aria-controls="info" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.info') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="keys" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.keys.index') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="seo" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.seo.index') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="errors" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.errors.index') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="leave_words" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.leave_words') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="notices" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.notices') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="engines" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.engines') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="roles" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.roles') %>
      </a>
    </li>
    <li role="presentation">
      <a aria-controls="status" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.status') %>
      </a>
    </li>
  </ul>
  <br>

  <div id="content" class="tab-pane"></div>
</div>

<script>
    $(function () {
        var id = 'content';
        $('[data-toggle="tab"]').click(function (e) {
            e.preventDefault();
            switch ($(e.target).attr('aria-controls')) {
                case 'info':
                    load_by_url(id, '<%= admin_info_path %>');
                    break;
                case 'keys':
                    load_by_url(id, '<%= admin_keys_path %>');
                    break;
                case 'seo':
                    load_by_url(id, '<%= admin_seo_path %>');
                    break;
                case 'errors':
                    load_by_url(id, '<%= admin_errors_path %>');
                    break;
                case 'leave_words':
                    load_by_url(id, '<%= leave_words_path %>');
                    break;
                case 'notices':
                    load_by_url(id, '<%= notices_path %>');
                    break;
                case  'engines':
                    load_by_url(id, '<%= admin_engines_path %>');
                    break;
                case  'roles':
                    load_by_url(id, '<%= admin_roles_path %>');
                    break;
                case 'status':
                    load_by_url(id, '<%= admin_status_path %>');
                    break;
            }
        });
        load_by_url(id, '<%= admin_info_path %>');
    });
</script>