<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#info" aria-controls="info" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.info') %>
      </a>
    </li>
    <li role="presentation">
      <a href="#keys" aria-controls="keys" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.keys.index') %>
      </a>
    </li>
    <li role="presentation">
      <a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.seo.index') %>
      </a>
    </li>
    <li role="presentation">
      <a href="#errors" aria-controls="errors" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.errors.index') %>
      </a>
    </li>
    <li role="presentation">
      <a href="#status" aria-controls="status" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.status') %>
      </a>
    </li>
  </ul>
  <br>

  <div id="content" class="tab-pane"></div>
</div>

<script>
    $(function () {
        var id = 'content';
        $('[data-toggle="tab"]').click(function (e) {
            e.preventDefault();
            switch ($(e.target).attr('href').substr(1)) {
                case 'info':
                    load_by_url(id, '<%= admin_info_path %>');
                    break;
                case 'keys':
                    load_by_url(id, '<%= admin_keys_path %>');
                    break;
                case 'seo':
                    load_by_url(id, '<%= admin_seo_path %>');
                    break;
                case 'errors':
                    load_by_url(id, '<%= admin_errors_path %>');
                    break;
            }
        });
        load_by_url(id, '<%= admin_info_path %>');
    });
</script>