<div class="row">
  <div class="col-md-4">
    <fieldset>
      <legend><%= t 'titles.personal.info' %></legend>
      <ul>
        <% %w(username email sign_in_count current_sign_in_at current_sign_in_ip last_sign_in_at last_sign_in_ip confirmed_at created_at).each do |k| %>
            <li><%= t("activerecord.attributes.user.#{k}") %>: <%= current_user[k] %></li>
        <% end %>
      </ul>
    </fieldset>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <fieldset>
      <legend><%= t 'titles.personal.logs' %></legend>
      <div class="list-group">
        <% current_user.logs.limit(50).each do |l|%>
            <a class="list-group-item"><%= time_ago_in_words l.created_at %>: <%= l.message%></a>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>