<!DOCTYPE html>
<html>
<head>
  <title><%= t 'site.title' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/widgets/nav_bar' %>
<div class="container-fluid">
  <p class="notice"><%= notice %></p>

  <p class="alert"><%= alert %></p>
  <%= yield :root %>
  <hr/>
  <footer>
    <p class="pull-right">
      <%= link_to image_tag('famfamfam-flags/dist/png/us.png'), {locale: :en} %>
      &nbsp;
      <%= link_to image_tag('famfamfam-flags/dist/png/cn.png'), {locale: 'zh-CN'} %>
      &nbsp;
      <%= link_to t('back_to_top') %>
    </p>

    <p>
      <%= t 'site.copyright_html' %>
    </p>
  </footer>
</div>
</body>
</html>
