<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@title}-" if @title %><%= t 'site.title' %></title>
  <% favicon = Setting.favicon %>
  <% if favicon %>
      <link href="<%= favicon.fetch :href %>" rel="<%= favicon.fetch :rel %>" type="<%= favicon.fetch :type %>"/>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield :root %>
<script>
    function on_remove_and_refresh(delete_url, refresh_id, refresh_url) {
        if (confirm('<%= t 'are_you_sure' %>')) {
            $.ajax({
                url: delete_url,
                type: 'DELETE',
                success: function (result) {
                    alert(result.message);
                    if (result.ok) {
                        load_by_url(refresh_id, refresh_url);
                    }
                }
            });
        }
    }
</script>
</body>
</html>
