<% content_for :css do %>
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :root do %>
    <%= render 'layouts/widgets/nav_bar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% @links.each do |l| %>
                <% if l.fetch(:url)==request.fullpath %>
                    <li class="active"><%= link_to l.fetch(:title), l.fetch(:url) %></li>
                <% else %>
                    <li><%= link_to l.fetch(:title), l.fetch(:url) %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10 col-md-offset-2">
          <br/>
          <%= render 'layouts/widgets/messages' %>
          <%= yield %>
          <%= render 'layouts/widgets/footer' %>
        </div>
      </div>
    </div>
<% end %>

<%= render file: 'layouts/application' %>
